[MASTER]
# Python code to execute, usually for sys.path manipulation
init-hook='import sys; sys.path.append("src")'

# Use multiple processes to speed up Pylint
jobs=0

# Pickle collected data for later comparisons
persistent=yes

# Minimum Python version to use for version dependent checks
py-version=3.11

[MESSAGES CONTROL]
disable=
    C0103,  # invalid-name (allows short variable names)
    R0913,  # too-many-arguments
    R0903,  # too-few-public-methods

[FORMAT]
max-line-length=120
